@charset "utf-8";

html {
    font-size-adjust: none;
    -webkit-text-size-adjust: none;
}

body {
    background: #F7F4E5 url(../drawable/bg2.jpg);
    color: #444;
    font-family: "Helvetica Neue", Arial, 微软雅黑, 宋体, serif;
    font-size: 15px;
    margin: 0;
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

@font-face {
    font-family: '方正大标宋简体';
    src: url(fonts/FZDBSJW.ttf);
}

@font-face {
    font-family: '方正兰亭粗黑简体';
    src: url(fonts/FZLTCHJW.TTF);
}

@font-face {
    font-family: '方正兰亭黑体';
    src: url(fonts/FZLTHJW.ttf);
}

@media only screen and (max-width: 767px) {
    .menus {
        padding: 1rem;
    }
    .menus .sidebar-toggle {
        position: fixed;
        display: block !important;
        right: 40px;
    }
    .menu-nav {
        position: fixed;
        top: 0;
        right: -100%;
        z-index: 1;
        height: 100%;
        width: 200px !important;
        transition: .4s;
        background-color: rgba(255,255,255,.8);
        -webkit-backdrop-filter: blur(20px);
        backdrop-filter: blur(20px);
    }
    .menu-options {
        left: 100px;
        flex-direction: column;
        top: 0;
    }
    .user-info {
        position: fixed;
        width: 50px;
    }
    .user-info-text {
        position: fixed;
        right: 100%;
    }
    .menu-divider {
        display: none;
    }
    .menus .logo {
        position: fixed;
        left: 30px;
    }
    .menu-right {
        position: fixed;
        right: -100px;
    }
    .menu-right .icons {
        position: fixed;
        right: 100%;
    }
    #close_sidebar_btn {
        display: block !important;
    }
}

.show-menu {
    right: 0;
}

#close_sidebar_btn {
    display: none;
    width: 24px;
    height: 24px;
}

.menus {
    position: fixed; /* 固定菜单栏 */
    z-index: 2;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgba(255,255,255,.8);
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    transition: .4s;
}

.menus .logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.menus .logo img{
    width: 80%;
}

.menus .menu-options {
    display: flex;
    align-items: center;
    justify-content: left;
    padding-left: 0;
}

.menus .menu-options > li {
    list-style: none;
    padding: 10px;
    font-size: 20px;
    font-family: "方正兰亭粗黑简体", "方正大标宋简体", serif;
}

.menus .menu-options > li > a {
    display: inline-block;
    text-decoration: none;
    color: #1f2023;
}

.menu-divider {
    width: 1px;
    height: 70%;
    background-color: #bbb;
}

.menus .menu-right {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 452px;
    height: 100%;
}

.menu-right .icons {
    display: flex;
    align-items: center;
    justify-content: right;
    padding-right: 2%;
}

.icons .icon {
    margin-left: 5%;
    margin-right: 5%;
}

.menu-right .icons a{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #1f2023;
    font-family: "方正兰亭粗黑简体","微软雅黑", serif;
}

.user-info {
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-right .user-info .user-info-icon {
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-right .user-info > a {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    font-family: "方正兰亭粗黑简体", "微软雅黑", serif;
    font-size: 16px;
}

.menus .sidebar-toggle {
    display: none;
    /*
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 100%;
    right: -100%;*/
}

.menus .sidebar-toggle img {
    width: 28px;
    cursor: pointer;
}

.banner {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner video {
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.banner .content {
    position: relative;
    z-index: 1;
    max-width: 1000px;
    margin: 0 auto;
    text-align: center;
    font-family: "方正大标宋简体", serif;
}

.banner .content h1 {
    margin: 0;
    padding: 0;
    font-size: 4.5em;
    text-transform: uppercase;
    color: #fff;
}
.banner .content p {
    font-size: 1.5em;
    color: #fff;
}

.g_btn {
    position: relative;
    cursor: pointer;
    display: block;
    width: 400px;
    margin: 10px;
    padding: 10px;
    background-color: #fff;
    transition: background-color 0.3s, color 0.3s;
}

.g_btn:hover {
    background-color: #000;
    color: #fff;
    transition: background-color 0.3s, color 0.3s;
}

.g_btn:hover .button-container {
    background-color: #fff;
    transition: background-color 0.3s, color 0.3s;
}

.g_btn:hover .button-container > p {
    color: #000;
    transition: color 0.3s;
}

.g_btn .container {
    display: block;
    flex-direction: column;
}

.g_btn .container * {
    margin-bottom: 20px;
    margin-top: 20px;
}

.button-container {
    background-color: #000;
    width: 65%;
    height: auto;
    padding: 2px;
    display: flex;
    justify-content: left;
    transition: background-color 0.3s;
}

.button-container > p {
    font-size: 20px;
    margin-left: 10px;
    color: #fff;
    transition: color 0.3s;
}

.btn_content {
    font-size: 18px;
}

.btn_title {
    font-size: 30px;
    font-weight: bold;
}

.works {
    margin-top: 50px;
    width: 100%;
    height: 400px;
}

.works .switch_cards {
    display: inline-flex;
    flex-direction: row;
    width: 80%;
    height: 100%;
}

.works .switch_cards .card {
    margin-left: 12px;
    margin-right: 12px;
    width: 100px;
    overflow: hidden;
}

.switch_cards .card image {
    max-width: 100%;
    max-height: 100%;
}

.works .title {
    padding: 8px 120px;
    display: inline-flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
}

footer {
    background-color: rgba(255,255,255,.8);
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    clear: both;
    height: 300px;
    width: 100%;
}

.foot-icons {
    left: 1090px;
    top: 185px;
    position: absolute;
    display: inline-flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
}

.foot-menus {
    width: 917px;
    left: 329px;
    top: 42px;
    position: absolute;
    display: inline-flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
}

.foot-button {
    padding: 10px 15px;
    left: 322px;
    top: 175px;
    position: absolute;
    border-color: rgba(128, 128, 128, 1);
    border-width: 1px;
    border-style: solid;
    display: inline-flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
}

footer .information {
    left: 319px;
    top: 232px;
    position: absolute;
    font-size: 11px;
    font-weight: 300;
    line-height: 100%;
    color: rgba(128, 128, 128, 1);
}

footer .title {
    left: 120px;
    top: 42px;
    position: absolute;
    font-size: 32px;
    font-weight: 700;
    line-height: 100%;
    color: black;
}

.chat-bg {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    background-color: rgba(0,0,0,0.5);
    transition: opacity .5s ease-in-out;
}

.chat-window {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    transition: .4s;
}

.chat-container {
    width: 40%;
    margin: 20px auto;
    border: 1px solid #ccc;
    border-radius: 10px;
    overflow: hidden;
}

.chat-title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 30px;
    background-color: #e8e8e8;
}

.chat-title p {
    font-weight: bold;
}

.chat-title button {
    justify-self: end;
    right: 10px;
}

.chat-display {
    padding: 10px;
    background-color: #f9f9f9;
    height: 300px;
    overflow: auto;
    display: flex;
    flex-direction: column;
}

.left-chat {
    background-color: #e8e8e8;
    
}

.right-chat {
    background-color: #ddeef5;
}

.new_message {
    max-width: 80%;
    margin: 5px 10px;
    display: flex;
}

.new_message .content {
    width: fit-content;
    color: darkslategray;
    padding: 10px;
    border: none;
    white-space: pre-line;
    border-radius: 5px;
}

.chat-input {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #f5f5f5;
}

.chat-input input {
    flex-grow: 1;
    margin-right: 10px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.chat-input button {
    padding: 5px 10px;
    border: none;
    background-color: #428bca;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

#chatButton {
    cursor: pointer;
    position: fixed;
    right: 20px;
    bottom: 20px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: none;
    background: linear-gradient(to bottom, #ff0000, #0000ff);
}