@charset "utf-8";

html {
    font-size-adjust: none;
    -webkit-text-size-adjust: none;
}

html.dark .menus .logo img {
    content: url(../drawable/logo-dark.svg);
}

html.dark .menus {
    background-color: rgba(0,0,0,.8);
}

html.dark .big-scene-banner .big-bg {
    width: 100%;
    content: url("../drawable/scenes-pics/yueyaquan_dark.png");
}

html.dark .studies-body .video-card {
    background-color: rgb(110, 64, 16, .6);
}

html.dark .commit-form {
    background-color: rgba(0, 0, 0, .6);
}

html.dark .commit-form h3 {
    color: var(--el-text-color-primary);
}

body {
    background: url(../drawable/bg2.jpg);
    color: #444;
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    font-size: 15px;
    -webkit-font-smoothing: antialiased;
    margin: 0;
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

@font-face {
    font-family: '方正大标宋简体';
    src: url(fonts/FZDBSJW.ttf);
}

@font-face {
    font-family: '方正兰亭粗黑简体';
    src: url(fonts/FZLTCHJW.TTF);
}

@font-face {
    font-family: '方正兰亭黑体';
    src: url(fonts/FZLTHJW.ttf);
}

@font-face {
    font-family: '字魂白鸽天行体';
    src: url("fonts/zhbgtxt.woff2");
}

@font-face {
    font-family: 'FZFW ZhuZi GuDianS LMC';
    src: url("fonts/FZFWZhuZGDLMCJW.TTF");
}

@font-face {
    font-family: 'PriceNums';
    src: url("fonts/price-num.ttf");
}

@media only screen and (max-width: 780px) {
    .menus {
        padding: 1rem;
    }
    .menus .sidebar-toggle {
        position: fixed;
        display: block !important;
        right: 40px;
    }
    .menu-nav {
        position: fixed;
        top: 0;
        right: -100%;
        z-index: 1000;
        /*height: 100%;*/
        width: 250px !important;
        transition: .4s;
        box-shadow: -1px 0 80px 1px var(--el-text-color-regular);
        background-color: var(--el-bg-color-overlay);
    }
    .menu-options {
        left: 100px;
        margin-top: 50px;
        margin-left: 20px;
        flex-direction: column;
        align-items: flex-start !important;
        top: 0;
        height: 10000px;
    }
    .menu-options li {
        margin-bottom: 10px;
    }
    .user-info {
        position: fixed;
        width: 50px;
    }
    .user-info-text {
        position: fixed;
        right: 100%;
    }
    .menu-divider {
        display: none;
    }
    .menus .logo {
        position: fixed;
        left: 30px;
    }
    .menu-right {
        position: fixed;
        right: -100px;
    }
    .menu-right .icons {
        position: fixed;
        right: 100%;
    }
    #close_sidebar_btn {
        display: block !important;
        margin: 20px 10px 10px;
    }
    .banner .content h1 {
        font-size: 5em !important;
    }
    .banner .content p {
        font-size: 2em !important;
    }
    .el-drawer {
        width: 100% !important;
    }
    .el-dialog {
        width: 100% !important;
        height: 85vh !important;
        border-radius: 10px 10px 0 0 !important;
        transition: .4s;
    }
    .el-overlay-dialog {
        overflow: hidden !important;
    }
    .chat-display {
        height: 75% !important;
    }

    .el-carousel__item img {
        transform: translateY(40%) !important;
    }
    .el-carousel__item #luwang {
        transform: translateY(10%) !important;
        height: 100% !important;
        width: fit-content !important;
    }
    .el-carousel__item #pusa {
        transform: translateY(10%) !important;
    }

    .zhenshang-top-banner .el-carousel {
        height: 46vh !important;
        transition: .4s;
        position: relative;
        z-index: 1;
    }

    .el-carousel__item h3 {
        font-size: 25px !important;
    }

    .el-carousel__item h4 {
        margin-top: -20px !important;
    }

    .el-carousel__item .banner-subtitle {
        top: 34vh !important;
        left: 20px !important;
    }

    footer {
        height: 450px !important;
    }

    footer .container {
        flex-direction: column !important;
        align-items: center !important;
        justify-content: center !important;
    }

    .about {
        margin-left: 0 !important;
    }

    .left-footer {
        margin-left: 0 !important;
        margin-top: 0 !important;
        width: 100% !important;
        align-items: center !important;
    }

    .right-footer {
        margin-top: 20px !important;
        justify-content: space-evenly !important;
    }

    .banner-banner {
        flex-direction: column !important;
        align-items: center !important;
    }

    .banner-book .left-banner {
        height: 50vh !important;
        width: 80% !important;
        justify-content: center;
        align-items: center;
        margin-left: 0 !important;
        margin-top: 180px !important;
    }

    .banner-book .right-banner {
        width: 100% !important;
        margin-left: 0 !important;
        margin-right: 0 !important;
        margin-top: 10px !important;
    }

    .banner-book h3 {
        font-size: 28px !important;
    }

    .banner-book p {
        font-size: 15px !important;
    }

    .banner-book .left-content {
        margin-top: 20px !important;
    }
}

.show-menu {
    right: 0;
}

#close_sidebar_btn {
    display: none;
    width: 24px;
    height: 24px;
}

.menus {
    position: fixed; /* 固定菜单栏 */
    z-index: 2;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgba(255,255,255,.8);
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    transition: .4s;
}

.menus .logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.menus .logo a{
    width: 80%;
}

.menus .logo img{
    width: 100%;
}

.menus .menu-options {
    display: flex;
    align-items: center;
    justify-content: left;
    padding-left: 0;
}

.menus .menu-options > li {
    list-style: none;
    padding: 10px;
    font-size: 20px;
    font-family: "方正兰亭粗黑简体", "方正大标宋简体", serif;
}

.menus .menu-options > li > a {
    display: inline-block;
    text-decoration: none;
    color: var(--el-text-color-primary);
}

.menus .menu-options > li:after {
    content: '';
    width: 0;
    bottom: 0;
    display: block;
    border-bottom: 2px solid var(--el-text-color-primary);
    transition: width .5s;
}

.menus .menu-options > li:hover:after {
    content: '';
    display: block;
    border-bottom: 2px solid var(--el-text-color-primary) ;
    width: 100%;
    transition: width .5s;
}

.menu-divider {
    width: 1px;
    height: 70%;
    background-color: #bbb;
}

.menus .menu-right {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 452px;
    height: 100%;
}

.menu-right .icons {
    display: flex;
    align-items: center;
    justify-content: right;
    padding-right: 2%;
}

.icons .icon {
    margin-left: 5%;
    margin-right: 5%;
}

.menu-right .icons a{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #1f2023;
    font-family: "方正兰亭粗黑简体","微软雅黑", serif;
}

.user-info {
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-right .user-info .user-info-icon {
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-right .user-info > a {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    font-family: "方正兰亭粗黑简体", "微软雅黑", serif;
    font-size: 16px;
}

.menus .sidebar-toggle {
    display: none;
    /*
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 100%;
    right: -100%;*/
}

.menus .sidebar-toggle svg {
    width: 28px;
    cursor: pointer;
}

.banner {
    width: 100%;
    height: 100vh;
    overflow: clip;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner video {
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.banner .content {
    position: relative;
    z-index: 1;
    max-width: 1000px;
    margin: 0 auto;
    text-align: center;
    font-family: "字魂白鸽天行体", serif;
}

.banner .content h1 {
    margin: 0;
    padding: 0;
    font-size: 6.5em;
    font-weight: 500;
    color: #fff;
}
.banner .content p {
    margin-top: 10px;
    font-size: 3em;
    color: #fff;
}

.g_btn {
    position: relative;
    cursor: pointer;
    display: block;
    width: 400px;
    margin: 10px;
    padding: 10px;
    background-color: #fff;
    transition: background-color 0.3s, color 0.3s;
}

.g_btn:hover {
    background-color: #000;
    color: #fff;
    transition: background-color 0.3s, color 0.3s;
}

.g_btn:hover .button-container {
    background-color: #fff;
    transition: background-color 0.3s, color 0.3s;
}

.g_btn:hover .button-container > p {
    color: #000;
    transition: color 0.3s;
}

.g_btn .container {
    display: block;
    flex-direction: column;
}

.g_btn .container * {
    margin-bottom: 20px;
    margin-top: 20px;
}

.button-container {
    background-color: #000;
    width: 65%;
    height: auto;
    padding: 2px;
    display: flex;
    justify-content: left;
    transition: background-color 0.3s;
}

.button-container > p {
    font-size: 20px;
    margin-left: 10px;
    color: #fff;
    transition: color 0.3s;
}

.btn_content {
    font-size: 18px;
}

.btn_title {
    font-size: 30px;
    font-weight: bold;
}

.index-content {
    margin: 50px 100px 50px 100px;
    display: flex;
    flex-direction: column;
}

.index-content .title {
    display: inline-flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    font-size: 35px;
    font-weight: bold;
    color: #9f5b14;
    font-family: "方正大标宋简体", Inter, system-ui, Avenir, serif;
}

.index-content .title > p {
    margin: 0;
}

.index-content .content {
    font-size: 20px;
    font-weight: normal;
    font-family: 方正兰亭黑简体, system-ui;
    color: #424040;
    text-shadow: 1px 1px 10px #9b9797;
    margin-top: 10px;
    margin-bottom: 20px;
}

.index-content .content p {
    line-height: 200%;
    margin: 0;
}

.index-content .el-button {
    border-radius: 50px;
}

.index-content .el-button > span {
    font-size: 18px;
    font-family: 方正兰亭粗黑简体, system-ui;
}

footer {
    background-color: var(--el-bg-color-overlay);
    clear: both;
    height: 300px;
    width: 100%;
    margin-bottom: -15px;
}

footer .container {
    display: inline-flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
}

.footer-logo {
    width: 220px;
}

.left-footer {
    margin-left: 80px;
    margin-top: 60px;
    width: 33%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.right-footer {
    margin-top: 50px;
    display: flex;
    width: 100%;
}

.right-footer .links {
    width: 112px;
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.right-footer .links p {
    margin-top: 5px;
    margin-bottom: 5px;
}

.chat-bg {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    background-color: rgba(0,0,0,0.5);
}

.chat-container {
    width: 40%;
    margin: 20px auto;
    border: 1px solid #ccc;
    border-radius: 10px;
    overflow: hidden;
}

.chat-title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 30px;
    background-color: #e8e8e8;
}

.chat-title p {
    font-weight: bold;
}

.chat-title button {
    justify-self: end;
    right: 10px;
}

.chat-display {
    padding: 10px;
    height: 300px;
    overflow: auto;
    display: flex;
    flex-direction: column;
}

.left-chat {
    background-color: #e8e8e8;
    
}

.right-chat {
    background-color: #ddeef5;
}

.new_message {
    max-width: 80%;
    margin: 5px 10px;
    display: flex;
}

.new_message .content {
    width: fit-content;
    color: darkslategray;
    padding: 10px;
    white-space: pre-line;
    border-radius: 5px;
    border: 1px solid var(--el-border-color-light);
}

.chat-input {
    display: flex;
    align-items: center;
    padding: 10px;
}

.el-dialog {
    transition: .4s;
}

#chatButton {
    cursor: pointer;
    position: fixed;
    z-index: 1;
    right: 20px;
    bottom: 20px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: none;
    box-shadow: var(--el-box-shadow-dark);
    background: linear-gradient(to bottom, #ff0000, #0000ff);
}

.el-carousel__item .banner-subtitle {
    position: absolute;
    display: flex;
    flex-direction: column;
    z-index: 1;
    top: 75vh;
    left: 40px;
    width: 500px;
    padding: 10px;
    background-color: rgba(121, 101, 101, 0.1);
    backdrop-filter: blur(5px);
    border: 1px solid white;
    border-radius: 10px;
}

.el-carousel__item h3 {
    color: #fff5e7;
    font-family: "方正大标宋简体", serif;
    font-size: 35px;
    margin-top: 10px;
    text-align: left;
}

.el-carousel__item h4 {
    color: #fff5e7;
    margin-top: -20px;
    margin-bottom: 10px;
    margin-left: 10px;
    line-height: 150%;
    font-family: "方正兰亭黑简体",Inter, system-ui, Avenir, serif;
    font-size: 18px;
    text-align: left;
}
.el-carousel__indicators--horizontal {
    z-index: auto !important;
}

.img-overlay {
    background-color: rgba(0,0,0,.4);
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

.zhenshang-top-banner {
    height: 100vh;
}

.zhenshang-content {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.zhenshang-content .item {
    height: 400px;
    overflow: clip;
    position: relative;
    border: 5px solid var(--el-bg-color);
}

.zhenshang-content .item img {
    width: 100%;
}

.zhenshang-content .item-subtitle {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    top: 0;
    left: 0;
    padding-left: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: var(--el-color-white);
    text-shadow: 1px 1px 10px var(--el-color-black);
}

.zhenshang-content .item-subtitle h3 {
    color: #fff5e7;
    font-family: "Times New Roman", "方正大标宋简体", serif;
    font-size: 35px;
    margin-top: 0;
    text-align: left;
}

.zhenshang-content .item-subtitle h4 {
    color: #fff5e7;
    margin-top: -20px;
    margin-left: 10px;
    line-height: 150%;
    font-family: "Times New Roman", "Songti SC", Inter, system-ui, Avenir, serif;
    font-size: 18px;
    text-align: left;
}

.zhenshang-content .item-button {
    margin-top: 50px;
}

.item-button .el-button {
    font-family: "Times New Roman", "Songti SC", Inter, system-ui, Avenir, serif;
    font-size: 18px;
    width: 200px;
    height: 45px;
    background-color: rgba(72, 66, 66, 0.8);
    border-radius: 50px;
    color: var(--el-color-white);
}

.banner-banner {
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    flex-direction: row;
}

.banner-book .left-banner {
    width: 50%;
    display: flex;
    margin-left: 5%;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.banner-book .right-banner {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
}

.banner-book h3 {
    color: #E5EAF3;
    font-size: 35px;
    font-family: "方正大标宋简体", Inter, system-ui, Avenir, serif;
    text-shadow: 1px 1px 10px black;
    margin: 0;
}

.banner-book p {
    color: #CFD3DC;
    font-size: 18px;
    font-family: "方正兰亭黑简体", Inter, system-ui, Avenir, serif;
    text-shadow: 1px 1px 10px black;
    margin: 0;
}

.banner-book .left-content {
    margin-top: 35px;
}

.big-scene-banner {
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    background-color: #444444;
}

.big-scene-banner .big-bg {
    width: 100%;
    content: url("../drawable/scenes-pics/yueyaquan.jpg");
}

.big-scene-banner .title {
    position: absolute;
    display: flex;
    flex-direction: column;
    color: var(--el-text-color-primary);
    top: 15%;
    left: 20%;
}

.big-scene-banner .title h3 {
    font-size: 80px;
    font-family: "方正兰亭粗黑简体", Inter, system-ui, Avenir, serif;
    font-weight: bold;
    text-shadow: 1px 1px 5px var(--el-bg-color-overlay);
    margin-bottom: 10px;
}

.big-scene-banner .title h4 {
    font-size: 40px;
    font-weight: bold;
    text-shadow: 1px 1px 5px var(--el-bg-color-overlay);
    margin-top: 10px;
}

.big-scene-banner .start-card {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 20%;
    right: 0;
    width: 500px;
    height: 400px;
    background-color: rgba(255,255,255, 0.2);
    backdrop-filter: blur(10px);
    border-radius: 25px 0 0 25px;
}

.start-card .weather {
    height: 80%;
}

.start-card .weather-title {
    display: flex;
    flex-direction: row;
    height: 60%;
    justify-content: center;
}

.start-card .weather-title p {
    margin: 0;
    font-family: 方正兰亭粗黑简体, Inter, system-ui, Avenir, serif;
    color: var(--el-text-color-primary);
    text-shadow: 0 0 5px #c2b1b1;
}

.weather-title .tem-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.weather .weather-detail {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    color: var(--el-text-color-regular);
}

.weather-detail .weather-day p {
    font-size: 19px;
    margin: 10px;
}

.start-card .go {
    background-color: rgba(255,255,255, 0.4);
    backdrop-filter: blur(20px);
    border-radius: 0 0 0 25px;
    transition: .4s;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20%;
}

.start-card .go:hover {
    background-color: rgba(134, 115, 115, 0.4);
    transition: .4s;
}

.go .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 80%;
    width: 75%;
}

.go .container h1 {
    margin: 0;
    font-size: 25px;
    font-family: 方正兰亭黑简体, system-ui;
    color: var(--el-text-color-primary);
}

.el-collapse-item__header {
    font-size: 20px !important;
    margin: 10px;
    font-weight: normal;
    font-family: "方正兰亭粗黑简体", Inter, system-ui, Avenir, serif;
    color: var(--el-text-color-primary);
}

.el-timeline {
    margin: 10px !important;
}

.el-timeline-item__wrapper .el-card {
    border-radius: 10px !important;
}

.el-timeline-item__wrapper .is-top {
    font-size: 20px;
    font-weight: normal;
    font-family: "方正兰亭粗黑简体", Inter, system-ui, Avenir, serif;
    color: var(--el-text-color-primary);
}

.el-timeline-item__wrapper .el-card__body h4 {
    font-size: 20px;
    font-weight: bold;
    font-family: "方正兰亭黑简体", system-ui;
    color: var(--el-text-color-primary);
}

.el-timeline-item__wrapper .el-card__body p {
    font-size: 16px;
    font-family: "方正兰亭黑简体", system-ui;
    text-align: justify;
    line-height: 150%;
    color: var(--el-text-color-primary);
}

.el-timeline-item__wrapper .el-card__body img {
    height: 250px;
    margin: 10px;
}

.book-list {
    display: flex;
    flex-direction: column;
}

.book-list .book-row {
    display: flex;
    flex-direction: column;
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 50px;
}

.book-list .books {
    display: flex;
    flex-direction: row;
    z-index: 1;
    justify-content: space-evenly;
}

.book-list .books img {
    width: 200px;
    cursor: pointer;
}

.book-list .title {
    margin-top: 30px;
    font-family: "方正大标宋简体", Inter, system-ui, Avenir, serif;
    font-size: 25px;
    text-align: center;
    color: #9f5b14;
}

.book-list .search-book {
    display: flex;
    justify-content: center;
}

.search-book .el-input {
    margin-left: 250px;
    margin-right: 20px;
}

.search-book .el-input__wrapper {
    border-radius: 50px;
}
.search-book .el-input__inner {
    color: #0a0a0a;
}

.search-book .el-button {
    margin-right: 250px;
}

.book-list .second-list {
    margin-bottom: 50px;
}

.book-detail {
    display:flex;
    flex-direction:column;
    align-items: center;
    margin: 20px;
}

.book-detail p {
    margin-top: 35px;
    color: var(--el-text-color-primary);
    line-height: 150%;
    white-space: pre-wrap;
}

.transparent {
    background: transparent !important;
    -webkit-backdrop-filter: blur(10) !important;
    backdrop-filter: blur(10) !important;
}

.studies-banner {
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
}

.studies-banner img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.studies-body {
    padding-left: 5%;
    padding-right: 5%;
}

.study-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    z-index: auto;
    position: relative;
    width: 100%;
    height: 300px;
    margin-top: -50px;
}

.study-cards .card {
    height: 100%;
    width: 500px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
    border-radius: 15px;
    box-shadow: 1px 1px 20px #7a7171;
}

.study-cards .card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
    position: absolute;
}

.study-cards .card-text {
    text-align: left;
    margin-left: 30px;
    margin-top: -50px;
    z-index: auto;
    position: relative;
    text-shadow: 1px 1px 30px #b6a7a7;
}

.card-text h3 {
    font-size: 33px;
    font-family: 方正兰亭粗黑简体, system-ui;
    font-weight: normal;
    color: white;
    margin: 0;
}

.card-text p {
    font-size: 18px;
    font-family: 方正兰亭黑简体, system-ui;
    margin-top: 10px;
    color: white;
}

.studies-body .interview-content {
    display: flex;
    flex-direction: column;
}

.studies-body h1 {
    text-align: center;
    font-family: "方正大标宋简体", Inter, system-ui, Avenir, serif;
    color: #9f5b14;
    margin-top: 80px;
    margin-bottom: 0;
}

.studies-body .video-card {
    display: flex;
    flex-direction: row;
    height: 200px;
    background-color: rgba(241, 214, 182, 0.6);
    border-radius: 10px;
    margin-top: 30px;
}

.video-card-video {
    height: 100%;
    border-radius: 10px;
    width: 350px;
}

.video-card-video video {
    height: 100%;
    width: 350px;
    border-radius: 10px;
    object-fit: fill;
}

.video-card .video-card-text {
    margin-left: 50px;
    margin-right: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.video-card-text p {
    text-indent: 2em;
    text-align: justify;
    font-size: 18px;
    line-height: 150%;
    color: var(--el-text-color-primary);
    font-family: "方正兰亭黑简体", Inter, system-ui, Avenir, serif;
}

.commit-form {
    border: 2px solid var(--el-border-color);
    border-radius: 20px;
    padding: 30px;
    background-color: rgba(255,255,255,0.5);
    backdrop-filter: blur(20px);
    margin-top: 50px;
    margin-bottom: 50px;
}

#form-result {
    display: none !important;
}

.wenchuang-banner {
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
}

.wenchuang-banner img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.wenchuang-banner .banner-title {
    position: absolute;
    z-index: 1;
    top: 40%;
    width: 600px;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    border: 1px solid white;
    background-color: rgba(255,255,255,.6);
    backdrop-filter: blur(20px);
}

.wenchuang-banner .banner-title img {
    position: relative;
    height: 50%;
    width: 30%;
    object-fit: contain;
}

.wenchuang-banner .banner-title h3 {
    font-family: "方正兰亭黑简体", Inter, system-ui, Avenir, serif;
    font-size: 30px;
    font-weight: lighter;
    margin-left: 20px;
    margin-right: 20px;
}

.wenchuang-body {
    margin: 30px 100px 50px 100px;
}

.wenchuang-body h1 {
    text-align: center;
    font-family: "方正大标宋简体", Inter, system-ui, Avenir, serif;
    color: #9f5b14;
    margin-top: 50px;
    margin-bottom: 30px;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 10px; /* 根据需要调整间隙大小 */
}

.product-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}

.product-image {
    width: 100%;
    padding-top: 100%; /* 1:1 Aspect Ratio */
    background-size: cover;
    background-position: center;
    transition: .5s;
    overflow: hidden;
    box-shadow: 1px 1px 20px #968888;
}

.product-image:hover {
    transition: .5s;
    transform: scale(1.1);
}

.product-info {
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.product-info .title {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.product-name {
    margin: 5px;
    font-size: 20px;
    font-family: 方正兰亭粗黑简体, system-ui;
    font-weight: normal;
}

.product-price {
    margin: 5px;
    font-size: 30px;
    font-family: "PriceNums", system-ui;
    color: #ee5858;
    font-weight: bold;
}

.product-actions {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 5px;
}
