@charset "utf-8";

@font-face {
    font-family: '方正大标宋简体';
    src: url(fonts/FZDBSJW.ttf);
}

@font-face {
    font-family: '方正兰亭粗黑简体';
    src: url(fonts/FZLTCHJW.TTF);
}

@font-face {
    font-family: '方正兰亭黑体';
    src: url(fonts/FZLTHJW.ttf);
}

a {
    text-decoration: none;
}

@media only screen and (max-width: 1024px) {

}

.menus {
    position: fixed; /* 固定菜单栏 */
    z-index: 2;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgba(255,255,255,.8);
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
}

.menus .logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.menus .logo img{
    width: 80%;
}

.menus .menu-options {
    display: flex;
    align-items: center;
    justify-content: left;
}

.menus .menu-options > a {
    display: inline-block;
    color: #1f2023;
    text-decoration: none;
    padding: 10px;
    font-size: 20px;
    font-family: "方正兰亭粗黑简体", "方正大标宋简体", serif;
}

.menu-divider {
    width: 1px;
    height: 70%;
    background-color: #bbb;
}

.menus .menu-right {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.menu-right .icons {
    display: flex;
    align-items: center;
    justify-content: right;
    padding-right: 2%;
}

.icons .icon {
    margin-left: 5%;
    margin-right: 5%;
}

.menu-right .icons a{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #1f2023;
    font-family: "方正兰亭粗黑简体","微软雅黑", serif;
}

.user-info {
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-right .user-info .user-info-icon {
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-right .user-info > a {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    font-family: "方正兰亭粗黑简体", "微软雅黑", serif;
    font-size: 16px;
}

.banner {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner video {
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.banner .content {
    position: relative;
    z-index: 1;
    max-width: 1000px;
    margin: 0 auto;
    text-align: center;
    font-family: "方正大标宋简体", serif;
}

.banner .content h1 {
    margin: 0;
    padding: 0;
    font-size: 4.5em;
    text-transform: uppercase;
    color: #fff;
}
.banner .content p {
    font-size: 1.5em;
    color: #fff;
}

.g_btn {
    position: relative;
    cursor: pointer;
    display: block;
    width: 400px;
    margin: 10px;
    padding: 10px;
    background-color: #fff;
    transition: background-color 0.3s, color 0.3s;
}

.g_btn:hover {
    background-color: #000;
    color: #fff;
    transition: background-color 0.3s, color 0.3s;
}

.g_btn:hover .button-container {
    background-color: #fff;
    transition: background-color 0.3s, color 0.3s;
}

.g_btn:hover .button-container > p {
    color: #000;
    transition: color 0.3s;
}

.g_btn .container {
    display: block;
    flex-direction: column;
}

.g_btn .container * {
    margin-bottom: 20px;
    margin-top: 20px;
}

.button-container {
    background-color: #000;
    width: 65%;
    height: auto;
    padding: 2px;
    display: flex;
    justify-content: left;
    transition: background-color 0.3s;
}

.button-container > p {
    font-size: 20px;
    margin-left: 10px;
    color: #fff;
    transition: color 0.3s;
}

.btn_content {
    font-size: 18px;
}

.btn_title {
    font-size: 30px;
    font-weight: bold;
}

html {
    font-size-adjust: none;
    -webkit-text-size-adjust: none;
}


body {
    background: #F7F4E5 url(drawable/bg2.jpg);
    color: #444;
	font-family: "Helvetica Neue", Arial, 微软雅黑, 宋体, serif;
    font-size: 15px;
    margin: 0;
}

.works {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin-top: 50px;
    width: 100%;
    height: fit-content;
}

.works .switch_cards {
    margin-top: 32px;
    width: 100%;
    height: 258px;
    padding-left: 120px;
    overflow-x: auto;
    white-space: nowrap;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

.works .switch_cards .card {
    margin-left: 12px;
    margin-right: 12px;
}

.works .title {
    padding: 8px 120px;
    display: inline-flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
}

footer {
    background-color: rgba(255,255,255,.8);
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    clear: both;
    height: 300px;
    width: 100%;
}

.foot-icons {
    left: 1090px;
    top: 185px;
    position: absolute;
    display: inline-flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
}

.foot-menus {
    width: 917px;
    left: 329px;
    top: 42px;
    position: absolute;
    display: inline-flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
}

.foot-button {
    padding: 10px 15px;
    left: 322px;
    top: 175px;
    position: absolute;
    border-color: rgba(128, 128, 128, 1);
    border-width: 1px;
    border-style: solid;
    display: inline-flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
}

footer .information {
    left: 319px;
    top: 232px;
    position: absolute;
    font-size: 11px;
    font-weight: 300;
    line-height: 100%;
    color: rgba(128, 128, 128, 1);
}

footer .title {
    left: 120px;
    top: 42px;
    position: absolute;
    font-size: 32px;
    font-weight: 700;
    line-height: 100%;
    color: black;
}

